<!DOCTYPE html>
<html lang="pt-br">
<!-- <%- include('head') %> -->
<body>
    <!-- <%- include('cabecalho') %>
    
    <%- include('formulario') %> -->
    
    <!-- <section class="saida"> -->
        <section>
    <!-- <%- for(let saida of saidas){ %>
       
            <h3><%=saida.nome%></h3>
            <p><%=saida.telefone%></p>
            <p><%=saida.email%></p>
       
        <%- } %> -->
    </section>
    </body>
    </html>